html{
    margin: 0;
    padding: 0;
}
#brand-logo{
    width: 290px;
    height: 40px;
}
.menu{
    margin-right: 10px;
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 500;
}
.welcome-image{
    width: 100%;
    margin-top: 20px;
}
.welcome-heading{
    font-size: 72px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}
.buy-now-button{
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #97ad3e;
    text-transform: uppercase;
    display: inline-block;
}
.buy-now-button img{
    width: 25px;
}

.img-bg1{
    border-radius: 10px;
    padding: 40px 30px;
    height:320px;
    margin: 15px;
    background-color: #F1F1F1;
}
.img-bg2{
    border-radius: 10px;
    padding: 50px 80px;
    height:320px;
    margin: 15px;
    background-color: #F1F1F1;
}
.img-bg3{
    border-radius: 10px;
    padding: 20px 30px;
    height:320px;
    margin: 15px;
    background-color: #F1F1F1;
}
.footer-logo{
    width: 60px;
    height: 60px;
}
.options{border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}
.extra-section{
    background-color: #3C3C3C;
}
.box-name{
    color: rgba(233, 233, 233, 0.897);
}
.form-inputs-style{
    background-color: #3C3C3C;
    border-bottom: 1px solid white;
}
.form-select{
    color:rgb(134, 134, 134)!important;
}
.form-button-color{
    background-color: #fdce34d5!important;
    border: 1px solid rgb(247, 189, 0)!important;
    color: white!important;
    font-weight: 400!important;
}